# Manuscript build files
*.aux
*.bcf
*.out
*.run.xml
*.synctex.gz
*.bbl
*.blg
*.lof
*.lot
*.toc
*.log
abstract.pdf
chapter*.pdf
discussion.pdf
thesis.pdf

# Emacs
*~

# Data
data/

# Jupyter notebooks
.ipynb_checkpoints
